<h4 style="float: right;"><b><a href="/admin" style="color:blue">To Residents Administration</a></b></h4><br>
<h1>Users Administration</h1><br>
<table class="table table-hover col-12 col-sm-12 col-lg-12 col-xl-12" style="margin: auto; text-align: center">
    <thead class="bg-danger" style="color: lightyellow;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User name</th>
        <th scope="col">Real name</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Authority</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

    <%
    var i=1;
    userList.forEach(function(model) {
    %> 


              <tr>
                <th scope="row"><%=i%></th>
                <td><a href="/user/information/<%=model.id%>"><b><%=model.username%></b></a></td>
                <td><b><%=model.realname%></b></td>
                <td><b><%=model.gender%></b></td>
                <td><b><%=model.age%></b></td>

                
                <td>
                  <%if(req.session.uid != model.id){%>
                  <select id="slector" onchange="onChange('<%=model.username%>','<%=model.id%>',this);">
                  <%}else{%>
                  <select id="slector" disabled="disabled">
                  <%}%>

                  <%if(model.role=="admin"){%>
                    <option>user</option><option selected="selected">admin</option>
                  <%}else{%>
                    <option selected="selected">user</option><option>admin</option>
                  <%}%>
                    </select>
                </td>

                <script>
                  var j = 0;
                  var role = "<%=model.role%>"
                  if(role=="admin") j=1;
                  else j=0;

                  document.getElementById("selector")[j].selected=true;

                </script>

                <td>
                <%if(req.session.uid != model.id){%>
                <button class="btn btn-danger" type="submit" onclick="deleteUser('<%=model.id%>')">Delete</button>
                <%}else{%>
                <button class="btn btn-danger" type="submit" onclick="deleteUser('<%=model.id%>')" disabled="disabled">Delete</button>
                <%}%>
                </td>

              </tr>


    <% 
    i++;   
    });
    %>
</tbody>
</table>
<br><br>

<script>

function onPageLoaded(){};


async function onChange(username,id,obj){
  var index = obj.selectedIndex;
  var value = obj.options[index].text;
  // alert(value);

  var formdata = new FormData();
  formdata.append('role',value);
  var response = await fetch('/user/authority/' + id, {
          method: 'POST',
          credentials:'same-origin',

          body:formdata
      });

      // if(response.ok){
        
        alert(username+" became "+value+"!");
      // }else{
        // alert(response.status + ':' + response.statusText);
      // }
};


async function deleteUser(id){

  var r = confirm("Confirm to delete?");

  if(r){
      var response = await fetch('/user/' + id, {
          method: 'DELETE',
          credentials:'same-origin',
      });


      if(response.ok){
          var data = await response.json();
          alert(data.message);
          window.location = data.url;
      } else {
          alert(response.status + ':' + response.statusText);
      }
  } else {
      alert('cancelled');
}

};

</script>